@use 'base';
@use 'components';

main {
    @include components.element-spacing();

    #remove-meal-form,
    #remove-restaurant-form {
        max-height: 50vh;
        overflow-x: auto;

        > div {
            display: flex;
            justify-content: space-between;

            p {
                font-size: min(3.8vw);
            }
        }
    }

    > div {
        @include components.card();

        text-align: center;
    }
}

form {
    @include components.form();
}

@media screen and (min-width: base.$breakpoint){
    
}