@use 'base';
@use 'components';

// Item width in card element (logo, image, text, counter)
$item-widths: 12%, 30%, 20%, 10%;

#cart-items {
    @include components.element-spacing($include-last: true);
}

#current-time {
    text-align: center;
    width: 100%;
}

.item {
    @include components.card;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 3vw;

    .image-container {
        display: flex;
        width: nth($item-widths, 2);
    }

    .logo {
        width: nth($item-widths, 1);

        img {
            border-radius: base.$br-sm;
        }
    }

    .item-counter {
        width: nth($item-widths, 4);

        display: flex;
        flex-direction: column;

        img {
            @include components.hover-scale();

            cursor: pointer;
        }

        p {
            margin: 0.2rem 0;
            width: 100%;
        }
    }

    p {
        text-align: center;
        width: nth($item-widths, 3);
    }

    img {
        width: 100%;

        border-radius: base.$br-md;
    }
}

#summary {
    @include components.card;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #pricing {
        text-align: right;
    }

    p {
        width: 50%;
        font-size: min(4vw, 2rem);
        text-align: left;
        direction: ltr;
    }

    button {
        @include components.button('inverted');

        font-size: min(5vw, 2.5rem);

        margin-top: base.$main-spacing;

        width: 100%;
    }
}

@media screen and (min-width: base.$breakpoint) {
    // Item widths in card element (logo, image, text, counter)
    $item-widths: 15%, 25%, 35%, 15%;

    #cart-items {
        @include components.element-spacing();
    }

    .item {
        p {
            font-size: 1.8vw;

            width: nth($item-widths, 3);
        }

        .image-container {
            width: nth($item-widths, 2);
        }

        .logo {
            width: nth($item-widths, 1);

            img {
                border-radius: base.$br-sm;
            }
        }
    }

    #summary {
        p {
            font-size: 2vw;
        }

        button {
            font-size: 2vw;
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: calc(base.$main-spacing * 2);
    }
}
