@use "base";
@use 'components';

main {
    min-height: calc(100vh - base.$navbar-height - base.$footer-height);
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        @include components.card;
        height: 18vw;
        padding: 0;
        
        align-content: center;

        p {
            font-size: 2.4vw;
            text-align: center;
        }
    }

    img {
        display: none;
        height: 18vw;
    }
}

@media screen and (min-width: base.$breakpoint) {
    main {
        >div {
            width: auto;
            text-align: center;

            z-index: 1;
        }

        img {
            display: inline-block;
            width: auto;
        }

        .right {
            margin-left: -10px;
            border-radius: 0 base.$br-lg base.$br-lg 0;
        }

        .left {
            margin-right: -10px;
            border-radius: base.$br-lg 0 0 base.$br-lg;
        }
    }
}