@use 'sass:color';

@use 'base';
@use 'components';

section {
    @include components.card;
    max-width: 600px;
    margin: 0 auto;

    img {
        position: absolute;
        left: 0px;
        height: auto;
        width: 35px;
        justify-content: center;
    }
}

button {
    @include components.button();

    text-align: center;

    padding-top: 0;
    padding-bottom: 0;
}

form {
    @include components.form();

    > div {
        @include components.card;

        justify-content: center;
        display: flex;
        position: relative;

        height: 10vh;
        background: linear-gradient(
            to right,
            base.$primary 40px,
            color.scale(base.$section-color, $lightness: -15%) 0
        );
    }

    a {
        text-align: center;
        font-size: larger;
    }

    .remember-me {
        height: 6vh
    }
}

input[type='text'],
input[type='password'] {
    @include components.value-input;

    border-bottom: 5px solid base.$secondary;
    width: 70%;
}

@media screen and (min-width: base.$breakpoint) {
    form {
        > div {
            background: linear-gradient(
                to right,
                base.$primary 60px,
                color.scale(base.$section-color, $lightness: -15%) 0
            );
        }
    }

    section {
        input [type='text'] {
            font-size: xx-large;
        }
        button {
            font-size: x-large;
        }
        img {
            height: auto;
            width: 50px;
        }
        a {
            font-size: x-large;
        }
    }
}
