<footer>
    <div id="rights">
        <p>©Matraketen</p>
        <p>Est. 2025</p>
    </div>
    <div id="banner">
        <img
            src="/images/pay-methods.webp"
            alt="Accepterade betalningsmetoder: Klarna, swish, apple pay, visa, mastercard, american express" />
    </div>
    <p>Moms inkluderat i alla priser</p>
</footer>
