<header>
    <!-- Hidden checkbox as hamburger menu toggle -->
    <input
        type="checkbox"
        id="hamburger-toggle"
        hidden />

    <a href="/">
        <img
            src="/images/Logotyp.webp"
            alt="Logotyp" />
    </a>
    <h1>Matraketen</h1>
    <label
        for="hamburger-toggle"
        class="hamburger-icon">
        <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect
                x="0"
                y="0"
                width="24"
                height="4"
                rx="2"
                fill="currentColor" />
            <rect
                x="0"
                y="10"
                width="24"
                height="4"
                rx="2"
                fill="currentColor" />
            <rect
                x="0"
                y="20"
                width="24"
                height="4"
                rx="2"
                fill="currentColor" />
        </svg>
    </label>

    <nav>
        <a href="menu">Meny</a>
        <a href="about">Om oss</a>
        <% if (!user) { %>
            <a href="login">Logga in</a>
        <% } %>
        <% if (user) { %>
            <% if (user['is_admin']) { %>
                <a href="admin">Admin</a>
            <% } %>
            <a href="profile">
                <img
                    src="/images/profile.webp"
                    alt="Profilikon" />
            </a>
        <% } %>
        <a href="cart">
            <img
                src="/images/kundvagn.webp"
                alt="Kundvagnsikon" />
        </a>
    </nav>
</header>
