@use 'variables' as v;
@use 'colors' as c;

footer {
    width: 100%;
    height: v.$footer-height-mobile;

    background-color: c.$primary;
    color: white;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;

    > * {
        align-content: center;
    }
    div {
        img {
            width: auto;
            height: 60%;
        }
    }
}
