// Global
$breakpoint: 450px;

// Header
$navbar-height-mobile: 5rem;
$hamburger-spacing: 4vh;

// Footer
$footer-height-mobile: 3rem;

// Standard border radius settings
$br-sm: 0.5rem;
$br-md: 1rem;
$br-lg: 2rem;
