@use 'base';
@use 'components';

#cart-items {
    @include components.div-spacing;
}

.item {
    @include components.card;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 3vw;

    .image-container {
        display: flex;
        width: 30%;
    }

    .logo {
        width: 12%;

        img {
            border-radius: base.$br-sm;
        }
    }

    .item-counter {
        width: 10%;

        display: flex;
        flex-direction: column;

        img {
            width: 100%;

            cursor: pointer;
        }

        p {
            margin: 0.2rem 0;
        }
    }

    p {
        // Even spacing despite different text lengths
        text-align: center;
        min-width: 35%;
    }

    img {
        width: 100%;

        border-radius: base.$br-md;
    }
}

#summary {
    @include components.card;

    margin-top: calc(base.$main-spacing * 2);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #pricing {
        text-align: right;
    }

    p {
        width: 50%;

        font-size: min(4vw, 2rem);
    }

    button {
        @include components.button('inverted');
        font-size: min(5vw, 2.5rem);

        margin-top: 1rem;
    }
}
