<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Orderbekräftelse - Matraketen</title>
        <link
            rel="stylesheet"
            href="/css/main.css" />
        <link
            rel="stylesheet"
            href="/css/confirmation.css" />
    </head>

    <body>
        <%- include('partials/header') -%>
        <main>
            <img class="left" src="/images/logotyp.webp" alt="logotyp">
            <div>
                <p>
                    Tack för ditt köp, din måltid är nu påväg 
                </p>
            </div>
            <img class="right" src="/images/logotyp.webp" alt="logotyp">
        </main>
        <%- include('partials/footer') -%>
    </body>
</html>
