<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="confirmation.css">
</head>
<body>
    
    <div>
        <p>Tack för ditt köp, din måltid är nu påväg <br><br>   
            kvitto har skickats över e-mail. <br> 
            Du skickas automatiskt tillbaka till hemsidan om 30s 
        </p>

    </div>

</body>
</html>