#name {
  display: none;
  font-family: "Luckiest Guy";
  letter-spacing: 0.2rem;
  font-size: 4vw;
}

#info-text {
  align-content: center;
  font-size: 6vw;
}

#brands {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-container {
  width: 50%;
}
.img-container img {
  width: 100%;
  height: auto;
}

#order-now {
  transition: all 0.3s ease-in-out;
  background-color: initial;
  position: relative;
  padding: 0 3rem;
}
#order-now:hover, #order-now:focus {
  transform: scale(1.06);
}
#order-now img {
  width: 100%;
}
#order-now p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(22deg);
  font-size: min(8vw, 2.5rem);
  color: #65acf4;
}

main > div {
  background-color: #d9d9d9;
  color: #323c46;
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
}

@media screen and (max-width: 499.5px) {
  main > *:not(:last-child) {
    margin-bottom: 4vw;
  }
}
@media screen and (min-width: 500px) {
  #name {
    display: block;
  }
  #info-text {
    font-size: 3.8vw;
  }
  main {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 4vw;
  }
  main > div {
    justify-self: center;
    align-self: center;
  }
}