<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="main.css" />
        <link
            rel="stylesheet"
            href="index.css" />
        <title>Hem - Matraketen</title>
    </head>
    <body>
        <header>
            <!-- Hidden checkbox as hamburger menu toggle -->
            <input
                type="checkbox"
                id="hamburger-toggle"
                hidden />

            <a href="index.html">
                <img
                    src="../public/images/Logotyp.webp"
                    alt="Logotyp" />
            </a>
            <h1>Matraketen</h1>
            <label
                for="hamburger-toggle"
                class="hamburger-icon">
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect
                        x="0"
                        y="0"
                        width="24"
                        height="4"
                        rx="2"
                        fill="currentColor" />
                    <rect
                        x="0"
                        y="10"
                        width="24"
                        height="4"
                        rx="2"
                        fill="currentColor" />
                    <rect
                        x="0"
                        y="20"
                        width="24"
                        height="4"
                        rx="2"
                        fill="currentColor" />
                </svg>
            </label>

            <nav>
                <a href="menu.html">Meny</a>
                <a href="omOss.html">Om oss</a>
                <a href="inlogg.html">Logga in</a>
                <a href="profile.html">
                    <img
                        src="../public/images/profile.webp"
                        alt="Profilikon" />
                </a>
                <a href="cart.html">
                    <img
                        src="../public/images/kundvagn.webp"
                        alt="Kundvagnsikon" />
                </a>
            </nav>
        </header>

        <main>
            <div id="name">
                <h1>Matraketen</h1>
            </div>
            <div id="info-text">
                <p>
                    För dig som inte kommer ut ur soffan, nu finns Matraketen som matleveranstjänst
                    hos dig.
                </p>
            </div>
            <div id="daily-deal">
                <div>
                    <div class="img-container">
                        <img
                            src="../public/images/Mclogo.webp"
                            alt="Logotyp för McDonalds" />
                    </div>
                    <div class="img-container">
                        <img
                            src="../public/images/bklogo.webp"
                            alt="Logotyp för McDonalds" />
                    </div>
                </div>
                <p>Dagens mat<br />10% rabatt</p>
            </div>
            <div id="order-now">
                <a href="menu.html">
                    <img
                        src="../public/images/cloud.webp"
                        alt="Cloud" />
                    <p>Beställ nu!</p>
                </a>
            </div>
        </main>
        <footer>
            <div id="rights">
                <p>©Matraketen</p>
                <p>Est. 2025</p>
            </div>
            <div id="banner">
                <img
                    src="../public/images/pay-methods.webp"
                    alt="Accepterade betalningsmetoder: Klarna, swish, apple pay, visa, mastercard, american express" />
            </div>
            <p>Moms inkluderat i alla priser</p>
        </footer>
    </body>
</html>
