<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Matraketen - Hem</title>
    </head>
    <body>
        <header>
            <!-- Hidden checkbox as hamburger menu toggle -->
            <input type="checkbox" id="hamburger-toggle" hidden checked />

            <img src="../public/images/Logotyp.webp" alt="Logotyp" />
            <h1>Matraketen</h1>
            <label for="hamburger-toggle" class="hamburger-icon">☰</label>

            <nav>
                <a href="#">Hem</a>
                <a href="#">Meny</a>
                <a href="#">Om oss</a>
                <a href="#">Logga in</a>
                <a href="#">🛒</a>
            </nav>
        </header>

        <main></main>
        <footer></footer>
    </body>
</html>
