<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="inlogg.css">
</head>

<body>
    <main>
        <section>
            <form action="POST" >
                <div class="user">
                    <img src="../public/images/profile.webp" alt="profilbild">
                    <input type="text" placeholder="Username" name="Username">
                </div>
                <div class="password">
                    <img src="../public/images/hanglas-ikon.webp" alt="lås ikon">
                    <input type="text" name="password" placeholder="Password">
                </div>
                <div class="login">
                    <img src="../public/images/inlogg.webp" alt="inlogg ikon">
                    <button type="submit">Login</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>