<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link
            rel="stylesheet"
            href="/css/login.css" />
        <script
            src="/js/user.js"
            async></script>
    </head>
    <body>
        <%- include('partials/header') -%>
        <main>
            <section>
                <form id="login-form">
                    <div class="user">
                        <img
                            src="/icons/profile.webp"
                            alt="profilbild" />
                        <input
                            type="text"
                            placeholder="E-postadress"
                            name="username" />
                    </div>
                    <div class="password">
                        <img
                            src="/icons/hanglas-ikon.webp"
                            alt="lås ikon" />
                        <input
                            type="password"
                            name="password"
                            placeholder="Lösenord" />
                    </div>
                    <div class="login">
                        <img
                            src="/icons/inlogg.webp"
                            alt="inlogg ikon" />
                        <button type="submit">Logga in</button>
                    </div>

                    <a href="register">Inget konto? Registrera dig här.</a>
                    <a href="reset-password">Glömt lösenord?</a>
                </form>
            </section>
        </main>
        <%- include('partials/footer') -%>
    </body>
</html>
