<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Återställ lösenord - Matraketen</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/password.css">
</head>
<body>
    <%- include('partials/header') -%>
    <main>
        <div id="bigP">
            <div id="headpP"><h3 id="headP">Ange din mail</h3></div>
            <div id="oneP">
                <div class="inP">
                    <input class="textP" type="text" name="e-mail" placeholder="e-mail adress">
                </div>
                <div id="sk" class="redB">
                    <p class="textRP">Skicka kod</p>
                </div>
            </div>
            <div id="twoP">
                <div class="inP">
                    <input class="textP" type="text" name="code" placeholder="Kod">
                </div>
                <div class="inP">
                    <input class="textP" type="text" name="New password" placeholder="Nytt lösenord">
                </div>
                <div class="inP">
                    <input class="textP" type="text" name="Confirm password" placeholder="Bekräfta lösenord">
                </div>
                <div id="tl" class="redB">
                    <p class="textRP">Återställ</p>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') -%>
</body>
</html>