<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <link
            rel="stylesheet"
            href="/css/password.css" />
        <script
            src="/js/user.js"
            async></script>
    </head>
    <body>
        <%- include('partials/header') -%>
        <main>
            <div id="bigP">
                <div id="headpP"><h3 id="headP">Ange din mail</h3></div>
                <form id="oneP">
                    <div class="inP">
                        <input
                            class="textP"
                            type="email"
                            name="email"
                            placeholder="e-mail adress"
                            required
                            autocomplete="email" />
                    </div>
                    <div
                        id="sk"
                        class="redB">
                        <button class="textRP">Skicka kod</button>
                    </div>
                </form>
                <form id="twoP">
                    <div class="inP">
                        <input
                            class="textP"
                            type="number"
                            name="code"
                            placeholder="Kod"
                            required />
                    </div>
                    <div class="inP">
                        <input
                            class="textP"
                            type="password"
                            name="newPassword"
                            placeholder="Nytt lösenord"
                            required />
                    </div>
                    <div class="inP">
                        <input
                            class="textP"
                            type="password"
                            name="confirmPassword"
                            placeholder="Bekräfta nytt lösenord"
                            required />
                    </div>
                    <div
                        id="tl"
                        class="redB">
                        <button type="submit" class="textRP">Återställ</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('partials/footer') -%>
    </body>
</html>
