body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#bigP{
    background-color: #D9D9D9;
    width: 60vw;
    border-radius: 30px;
}

#oneP{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

#twoP{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}

.textP{
    background-color: #FFFFFF;
    text-align: center;
    padding: 3px;
    color: #8A8080;
    font-size: larger;
    border-radius: 8px;
    margin: 5px;
    border: none;
}

.textRP{
    border: solid #BC2632 2px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 3px;
    margin: 0;
    cursor: pointer;
}

.inP{
}

.rebB{
    margin-top: -30px;
}

#headP{
    display: none;
}

#headpP{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (min-width: 700px) {
    #headP {
        display: block;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    #oneP {
        flex-direction: row;
    }
    #bigP {
        max-width: 60vw;
    }
    #sk {
        width: 120px;
        text-align: center;
    }
    #tl {
        width: 240px;
        text-align: center;
    }
}