<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="main.css" />
        <link rel="stylesheet" href="product.css" />
        <title>Produkt - Matraketen</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Cheesburger</h1>
                <img src="../public/images/mcdonalds-burgare.webp" alt="" />
            </div>
            <div></div>
            <div></div>
            <div></div>
        </main>
    </body>
</html>
