<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/css/main.css" />
        <link
            rel="stylesheet"
            href="/css/register.css" />
        <script
            src="/js/user.js"
            async></script>
        <title>Registrera - Matraketen</title>
    </head>
    <body>
        <%- include('partials/header') -%>
        <main>
            <div id="register">
                <h1>Registrera</h1>
                <form id="register-form">
                    <input
                        type="text"
                        name="firstName"
                        placeholder="Förnamn"
                        required />
                    <input
                        type="text"
                        name="lastName"
                        placeholder="Efternamn"
                        required />
                    <input
                        type="tel"
                        name="phoneNumber"
                        placeholder="Telefonnummer"
                        required />
                    <input
                        type="text"
                        name="address"
                        placeholder="Adress"
                        required />
                    <input
                        type="text"
                        name="postcode"
                        placeholder="Postnummer"
                        required />

                    <input
                        type="text"
                        name="email"
                        placeholder="E-postadress"
                        required />
                    <input
                        type="email"
                        name="confirmEmail"
                        placeholder="Bekräfta e-postadress"
                        required />

                    <input
                        type="password"
                        name="password"
                        placeholder="Lösenord"
                        required />
                    <input
                        type="password"
                        name="confirmPassword"
                        placeholder="Bekräfta lösenord"
                        required />

                    <div>
                        <input
                            type="checkbox"
                            name="newsletter"
                            id="cb-news" />
                        <label for="cb-news">
                            Jag vill prenumerera på Matraketens nyhetsbrev och få information om
                            rabatter och erbjudande
                        </label>
                        <span class="checkmark"></span>
                    </div>

                    <div>
                        <input
                            type="checkbox"
                            name="privacyPolicy"
                            id="cb-privacy-policy"
                            checked
                            required />

                        <label for="cb-privacy-policy"
                            >Jag godkänner att mina personuppgifter används och lagras i enlighet
                            med GDPR
                        </label>
                        <span class="checkmark"></span>
                    </div>

                    <button
                        type="submit"
                        class="register-user">
                        Registrera dig nu
                    </button>
                </form>
            </div>
        </main>
        <%- include('partials/footer') -%>
    </body>
</html>
