@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: auto;
  font-family: "Lunasima";
}

main {
  padding: 5vw;
  padding-bottom: calc(5vw + 3rem);
}

header {
  height: 5rem;
  background-color: #323c46;
  display: flex;
  justify-content: space-between;
}
header h1 {
  background-color: white;
  color: #323c46;
  font-family: "Luckiest Guy";
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 45%;
  border-radius: 1rem;
  font-size: min(6.5vw, 2.4rem);
  letter-spacing: 0.05rem;
  align-content: center;
  text-align: center;
}
header img,
header .hamburger-icon {
  height: 5rem;
  aspect-ratio: 1/1;
}
header .hamburger-icon {
  cursor: pointer;
  background-color: white;
  font-size: 3rem;
  align-content: center;
  text-align: center;
  margin: 0.5rem;
  height: 4rem;
  border-radius: 1rem;
}
header #hamburger-toggle:checked ~ nav {
  width: 40%;
}
header nav {
  position: fixed;
  height: calc(100vh - 5rem - 3rem);
  width: 0;
  right: 0;
  bottom: 3rem;
  background-color: #323c46;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
header nav a {
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4vh;
  padding: 2vh 0;
}
header nav > *,
header .hamburger-icon {
  transition: 0.3s;
}
header nav > *:hover, header nav > *:focus,
header .hamburger-icon:hover,
header .hamburger-icon:focus {
  outline: 0.3rem solid #bc2632;
  outline-offset: -0.2rem;
}

footer {
  height: 3rem;
  background-color: #323c46;
  color: white;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
footer > * {
  align-content: center;
}
footer p {
  font-size: 2.5vw;
}
footer div {
  width: 42%;
}
footer div img {
  width: 100%;
  height: auto;
}

#index #name {
  display: none;
}
#index #info-text {
  grid-column: span 2;
  align-content: center;
  font-size: 6vw;
}
#index #brands {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#index .img-container {
  width: 50%;
}
#index .img-container img {
  width: 100%;
  height: auto;
}
#index #order-now {
  background-color: initial;
  position: relative;
  padding: 0 15vw;
}
#index #order-now img {
  width: 100%;
}
#index #order-now p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(22deg);
  font-size: 8vw;
  color: #65acf4;
}
#index > div {
  background-color: #d9d9d9;
  color: #323c46;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
}
#index > div:not(:last-child) {
  margin-bottom: 5vw;
}

* {
  outline: 1px solid black;
}