* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 1px solid black;
}

body {
  margin: 0;
}

header {
  display: flex;
  height: 4rem;
}
header #hamburger-toggle:checked ~ .hamburger-menu {
  width: 40%;
}
header .hamburger-icon {
  margin: 0 0 0 auto;
  height: 4rem;
  aspect-ratio: 1;
  cursor: pointer;
  background-color: white;
  text-align: center;
}
header .hamburger-menu {
  position: fixed;
  height: 100vh;
  width: 0;
  right: 0;
  top: 0;
  background-color: #323c46;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
header .hamburger-menu a {
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 4vh;
  padding: 2vh 0;
  transition: 0.3s;
}
header .hamburger-menu a:hover, header .hamburger-menu a:focus {
  color: #f1f1f1;
}