#oODiv {
  width: 90vw;
  max-width: 400px;
}

#oDiv {
  border-radius: 20px;
  background-color: #D9D9D9;
  padding: 5px;
}

#oImg {
  height: 200px;
  max-width: 150px;
}

#oP {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

#oS {
  font-size: 5vw;
  min-width: 100px;
}

@media (min-width: 800px) {
  #oImg {
    margin-left: 120px;
    margin-right: -325px;
    margin-bottom: -150px;
    max-width: 200px;
  }
  #oS {
    margin-bottom: 30px;
  }

@media (min-width: 800px) {
  #oImg {
    margin-left: 120px;
    margin-right: -325px;
    margin-bottom: -150px;
    max-width: 200px;
  }
  #oS {
    margin-bottom: 30px;
    font-size: 5vw;
  }
}

@media (max-width: 300px) {
  #oS {
    font-size: 100px;
  }