#cart-items > *:not(:last-child) {
  margin-bottom: 4vw;
}
#cart-items > *:last-child {
  margin-bottom: 4vw;
}
.item {
  background-color: #d9d9d9;
  color: #323c46;
  padding: 0.75rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vw;
}
.item .image-container {
  display: flex;
  width: 30%;
}
.item .logo {
  width: 12%;
}
.item .logo img {
  border-radius: 0.5rem;
}
.item .item-counter {
  width: 10%;
  display: flex;
  flex-direction: column;
}
.item .item-counter img {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.item .item-counter img:focus-visible, .item .item-counter img:hover {
  transform: scale(1.1);
}
.item .item-counter p {
  margin: 0.2rem 0;
  width: 100%;
}
.item p {
  text-align: center;
  width: 20%;
}
.item img {
  width: 100%;
  border-radius: 1rem;
}

#summary {
  background-color: #d9d9d9;
  color: #323c46;
  padding: 0.75rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#summary #pricing {
  text-align: right;
}
#summary p {
  width: 50%;
  font-size: min(4vw, 2rem);
  text-align: left;
  direction: ltr;
}
#summary button {
  transition: box-shadow 0.3s ease-in-out;
  outline: none;
  outline-offset: -1px;
  box-shadow: inset 0 0 0 0 #323c46;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: inherit;
  font-size: min(1.5rem, 2.5vw);
  margin: 0.3rem;
  padding: min(1.6vw, 0.6rem) min(5vw, 0.8rem);
  background-color: #bc2632;
  color: white;
  outline: 0.15rem solid #323c46;
  font-size: min(5vw, 2.5rem);
  margin-top: 4vw;
  width: 100%;
}
#summary button:focus-visible, #summary button:hover {
  box-shadow: inset 0 0 0 0.225rem #323c46;
}

@media screen and (min-width: 768px) {
  #cart-items > *:not(:last-child) {
    margin-bottom: 4vw;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  #cart-items > *:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .item p {
    font-size: 1.8vw;
    width: 35%;
  }
  .item .image-container {
    width: 25%;
  }
  .item .logo {
    width: 15%;
  }
  .item .logo img {
    border-radius: 0.5rem;
  }
  #summary p {
    font-size: 2vw;
  }
  #summary button {
    font-size: 2vw;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8vw;
  }
}