section {
  background-color: #d9d9d9;
  color: #323c46;
  padding: 0.75rem;
  border-radius: 1rem;
  max-width: 600px;
  margin: 0 auto;
}
section img {
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: 35px;
}

button {
  outline-offset: -1px;
  outline: none;
  box-shadow: inset 0 0 0 0 #323c46;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: inherit;
  font-size: min(1.5rem, 2.5vw);
  margin: 0.25rem;
  padding: min(1.6vw, 0.6rem) min(5vw, 0.8rem);
  outline: 0.125rem solid #bc2632;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}
button:focus, button:hover {
  box-shadow: inset 0 0 0 0.1875rem #bc2632;
}

form {
  padding: 4vw 0 0;
  display: grid;
  gap: 4vw;
  grid-template-columns: 1fr;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: #778a9e;
}
form input::placeholder,
form textarea::placeholder {
  color: #778a9e;
}
form input {
  outline-offset: -1px;
  outline: none;
  box-shadow: inset 0 0 0 0 #323c46;
  transition: box-shadow 0.2s ease-in-out;
  color: #323c46;
  font-family: inherit;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
form input:focus, form input:hover {
  box-shadow: inset 0 0 0 0.1875rem #bc2632;
}
form div:has(input[type=checkbox]) {
  display: flex;
  align-items: center;
  gap: 3vw;
  position: relative;
}
form div:has(input[type=checkbox]) label {
  cursor: pointer;
}
form div:has(input[type=checkbox]) input[type=checkbox] {
  height: 2rem;
  aspect-ratio: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0.125rem solid #bc2632;
  border-radius: 0.7692307692rem;
}
form div:has(input[type=checkbox]) input[type=checkbox] ~ .checkmark {
  position: absolute;
  width: 2rem;
  height: 2rem;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
form div:has(input[type=checkbox]) input[type=checkbox]:checked ~ .checkmark::after {
  content: "";
  width: 0.6rem;
  height: 1.3rem;
  border: solid #bc2632;
  border-width: 0 0.2857142857rem 0.2857142857rem 0;
  transform: translate(0, -10%) rotate(40deg);
}
form select {
  outline-offset: -1px;
  outline: none;
  box-shadow: inset 0 0 0 0 #323c46;
  transition: box-shadow 0.2s ease-in-out;
  color: inherit;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
form select:focus, form select:hover {
  box-shadow: inset 0 0 0 0.1875rem #bc2632;
}
form button {
  outline-offset: -1px;
  outline: none;
  box-shadow: inset 0 0 0 0 #323c46;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: inherit;
  font-size: min(1.5rem, 2.5vw);
  margin: 0.25rem;
  padding: min(1.6vw, 0.6rem) min(5vw, 0.8rem);
  outline: 0.125rem solid #bc2632;
}
form button:focus, form button:hover {
  box-shadow: inset 0 0 0 0.1875rem #bc2632;
}
form textarea {
  outline-offset: -1px;
  outline: none;
  box-shadow: inset 0 0 0 0 #323c46;
  transition: box-shadow 0.2s ease-in-out;
  padding: 0.25rem;
  min-height: 5rem;
  border-radius: 0.5rem;
  resize: vertical;
}
form textarea:focus, form textarea:hover {
  box-shadow: inset 0 0 0 0.1875rem #bc2632;
}
form > div {
  background-color: #d9d9d9;
  color: #323c46;
  padding: 0.75rem;
  border-radius: 1rem;
  justify-content: center;
  display: flex;
  position: relative;
  height: 11vh;
  background: linear-gradient(to right, #323c46 40px, #b8b8b8 0);
}
form a {
  text-align: center;
  font-size: larger;
}
form .remember-me {
  height: 6vh;
}

input[type=text],
input[type=password] {
  border-bottom: 5px solid #bc2632;
  width: 70%;
}

@media screen and (min-width: 768px) {
  form > div {
    background: linear-gradient(to right, #323c46 60px, #b8b8b8 0);
  }
  section input [type=text] {
    font-size: xx-large;
  }
  section button {
    font-size: x-large;
  }
  section img {
    height: auto;
    width: 50px;
  }
  section a {
    font-size: x-large;
  }
}