h1,
p {
  margin: 0;
  line-height: 1;
}

main > *:not(:last-child) {
  margin-bottom: 8vw;
}
@media screen and (min-width: 768px) {
  main > *:last-child {
    margin-bottom: 0;
  }
}

.resturang {
  border-radius: 1rem;
  width: 80%;
  background-color: #d9d9d9;
}
.resturang .headbar {
  display: flex;
  justify-content: space-between;
  height: max(2.2rem, 6vw);
  background-color: #323c46;
  border-radius: 1rem;
}
.resturang .headbar img {
  width: auto;
  height: 100%;
  margin: 0 20px;
}
.resturang .menu-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 2vw;
  gap: 2vw;
}
.resturang .menu-items .item {
  outline-offset: -1px;
  outline: none;
  box-shadow: inset 0 0 0 0 #323c46;
  transition: box-shadow 0.2s ease-in-out;
  padding: 0.25rem;
  border-radius: 2rem;
  align-items: center;
}
.resturang .menu-items .item:focus, .resturang .menu-items .item:hover {
  box-shadow: inset 0 0 0 0.1875rem #bc2632;
}
.resturang .menu-items .item a {
  color: #323c46;
  text-decoration: none;
}
.resturang .menu-items .item img {
  width: auto;
  height: 15vw;
  border-radius: 2rem;
  display: block;
}
.resturang .menu-items .item p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  main p {
    font-size: xx-large;
  }
}