#item {
  color: #323c46;
}
#item img {
  width: 100%;
}

#product-contents {
  background-color: #d9d9d9;
  color: #323c46;
  padding: 0.5rem;
  border-radius: 1rem;
}

#nav-buttons {
  display: flex;
  justify-content: space-between;
}
#nav-buttons button {
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: inherit;
  margin: 0.25rem;
  padding: min(1.6vw, 0.6rem) min(5vw, 2.4rem);
  background-color: #bc2632;
  color: white;
}
#nav-buttons button:focus, #nav-buttons button:hover {
  outline: 0.25rem solid #323c46;
  outline-offset: -0.125rem;
}

#description {
  background-color: #d9d9d9;
  color: #323c46;
  padding: 0.5rem;
  border-radius: 1rem;
}

h1,
h2 {
  text-align: center;
}

main > *:not(:last-child) {
  margin-bottom: 4vw;
}