@use '../base';

// Needed for correct footer positioning
body {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: calc(base.$main-spacing + base.$footer-height);
}

footer {
    height: base.$footer-height;
    width: 100%;

    background-color: base.$primary;
    color: white;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;

    > * {
        align-content: center;
    }

    #rights {
        width: auto;
    }

    p {
        font-size: min(2vw, calc(base.$footer-height / 2.5));
    }

    #banner {
        width: 40%;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            max-height: calc(base.$footer-height / 1.1);
        }
    }
}
