// Global
$breakpoint: 768px;
$main-spacing: 4vw;
$outline-width: 0.3rem;

// Header
$navbar-height: clamp(4rem, 16vw, 6rem);
$hamburger-spacing: 5vh;

// Footer
$footer-height: clamp(2rem, 7vw, 4rem);

// Standard border radius settings
$br-sm: 0.5rem;
$br-md: 1rem;
$br-lg: 2rem;
