@use '../base/variables' as v;
@use '../base/colors' as c;

// Needed for correct footer positioning
body {
    position: relative;
    min-height: 100vh;
}

main {
    padding: v.$main-edge-padding;
    padding-bottom: calc(v.$main-edge-padding + v.$footer-height-mobile);
}

footer {
    height: v.$footer-height-mobile;

    background-color: c.$primary;
    color: white;

    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;

    > * {
        align-content: center;
    }

    p {
        font-size: 2.5vw;
    }

    div {
        width: 42%;
        img {
            width: 100%;
            height: auto;
        }
    }
}
